extends layout
block append head
	:less
		.gallery-container {
			height:100px;
			
			padding:5px;border:3px solid #EEE;overflow:hidden;
			form {margin:0;}
			.desc {margin-left:5px;}
			.gallery-title {margin:0 0 5px;}
			.gallery {overflow:hidden;max-height:110px;}
		}
		.image-item {
			.img-container {overflow:hidden;}
			margin:0 5px 5px 0;
			img {max-width:none;}
		}
	script(src="coffee/index.js")
	:coffee
		require ["backbone"],(Backbone)->
			$ ->
				console.log "heyhey"

block content
	h1= title
	p Welcome to #{title}
	.gallery-container
		.gallery-title.clearfix
			span.gallery-pager.pull-right
				button(type=button).btn.btn-mini: i.icon-chevron-left
				|  5/12 
				button(type=button).btn.btn-mini: i.icon-chevron-right
			.pull-left
				include uploadForm.jade
			span.desc
		.gallery
		.actions