doctype 5
html
	block head
		head
			title= title
			link(rel='stylesheet', href='/less/style.css')
			script(src="http://localhost/weblib/require+config.js")
			:coffee
				require ["bootstrap"]
	body
		block content